<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class="cuadro">
      <ul>
        <li><a id="a-home" href="/index"><strong>INICIO</strong></a></li>
        <li><a id="a-rojo" href="/rojo"><strong>SOY ROJO</strong></a></li>
        <li><a id="a-azul" href="/azul"><strong>SOY AZUL</strong></a></li>
        <li><a id="a-verde" href="/verde"><strong>SOY VERDE</strong></a></li>
      </ul>
    </nav>

  {{{body}}}
  </body>
</html>
